<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="eyes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eyes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="eyes-link">
                <a href="" class="dropdown-item">Eyeliner</a>
                <a href="" class="dropdown-item">Gel Eyeliner</a>
                <a href="" class="dropdown-item">EyeBrow</a>
                <a href="" class="dropdown-item">Eyeshadow</a>
                <a href="" class="dropdown-item">All Eyes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="lips-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lips
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lips-link">
                <a href="" class="dropdown-item">Lip-liner</a>
                <a href="" class="dropdown-item">Lipstick</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="skin-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skin 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skin-link">
                <a href="" class="dropdown-item">Foundation</a>
                <a href="" class="dropdown-item">Blush</a>
                <a href="" class="dropdown-item">Bronzer</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Eyes</a>
                <a href="" class="dropdown-item">Lips</a>
                <a href="" class="dropdown-item">Skin</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>